html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    max-width: 290px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 738px;
  }
}

.header {
  background: #000d1f;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header-logo-group {
  display: grid;
  grid-template-columns: 1px 1fr;
  column-gap: 10px;
  align-items: flex-end;
}

.header-nav-ref {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  text-decoration: none;
  font-family: "Bricolage Grotesque", sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-nav-ref {
    font-size: 13px;
  }
}

.header-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 35px) 1fr;
  column-gap: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header-nav-list {
    grid-template-columns: 290px;
    row-gap: 25px;
    justify-content: center;
    justify-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-nav-list {
    grid-template-columns: 450px;
    row-gap: 25px;
    justify-content: center;
    justify-items: center;
  }
}

.header-group {
  background: #000d1f;
  display: grid;
  grid-template-columns: 82px 1fr;
  align-items: center;
  column-gap: 625px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header-group {
    grid-template-columns: 290px;
    row-gap: 25px;
    justify-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-group {
    grid-template-columns: 450px;
    row-gap: 25px;
    justify-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-group {
    grid-template-columns: 82px 1fr;
    align-items: center;
    column-gap: 225px;
  }
}

.header-nav-ref:hover {
  color: #f2994a;
}

.main {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #E0FFFF;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 290px;
    background-color: #fff;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 450px;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 738px;
    background-color: #fff;
    padding-top: 0;
  }
}

.main-wrapper {
  display: grid;
  grid-template-columns: 670px 1fr;
  column-gap: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-wrapper {
    grid-template-columns: 290px;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-wrapper {
    grid-template-columns: 450px;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-wrapper {
    grid-template-columns: 738px;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

.main-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 126px 57px 1fr;
  column-gap: 3px;
  margin-bottom: 34px;
  margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-nav-list {
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 100px 100px 1fr;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-nav-list {
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 155px 155px 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-nav-list {
    list-style: none;
    display: grid;
    grid-template-columns: 129px 60px 1fr;
    column-gap: 3px;
    margin-bottom: 20px;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

.main-nav-ref {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #a7b2c0;
  text-decoration: none;
  font-family: "Bricolage Grotesque", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-nav-ref {
    font-size: 10px;
    line-height: 150%;
  }
}


@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-nav-ref {
    font-size: 12px;
    line-height: 130%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-nav-ref {
    font-size: 13px;
    line-height: 130%;
  }
}

.main-nav-ref:hover {
  color: #02234d;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #02234d;
  font-family: "Bricolage Grotesque", sans-serif;
  width: 610px;
  margin-bottom: 23px;
  margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-title {
    width: 290px;
    font-size: 26px;
    line-height: 120%;
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-title {
    width: 450px;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-title {
    width: 698px;
    font-size: 29px;
    line-height: 120%;
    text-align: center;
    margin-left: 0;
  }
}

.section-one {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .section-one {
    display: grid;
    grid-template-columns: 290px;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section-one {
    display: grid;
    grid-template-columns: 450px;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-one {
    display: grid;
    grid-template-columns: 738px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding-bottom: 0;
    padding-top: 20px;
  }
}

.main-time-ph {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #50739f;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 17px;
  margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-time-ph {
    font-size: 10px;
    line-height: 120%;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-time-ph {
    font-size: 12px;
    line-height: 120%;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-time-ph {
    font-size: 13px;
    line-height: 120%;
    margin-left: 0;
  }
}

.main-autor-ph {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #02234d;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 23px;
  margin-left: 30px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-autor-ph {
    font-size: 12px;
    line-height: 100%;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-autor-ph {
    font-size: 14px;
    line-height: 100%;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-autor-ph {
    font-size: 15px;
    line-height: 100%;
    margin-left: 0;
  }
}

.main-bitcoin-image {
  margin-bottom: 28px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-bitcoin-image {
    width: 250px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-bitcoin-image {
    width: 410px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-bitcoin-image {
    width: 698px;
  }
}

.layer-list {
  list-style: none;
  display: grid;
  grid-template-columns: 610px;
  row-gap: 30px;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .layer-list {
    grid-template-columns: 610px;
    row-gap: 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .layer-list {
    grid-template-columns: 610px;
    row-gap: 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .layer-list {
    grid-template-columns: 610px;
    row-gap: 25px;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

.layer-list-ph {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #02234d;
  width: 610px;
  font-family: "Bricolage Grotesque", sans-serif;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .layer-list-ph {
    width: 290px;
    font-size: 12px;
    line-height: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .layer-list-ph {
    width: 450px;
    font-size: 12px;
    line-height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .layer-list-ph {
    width: 698px;
    font-size: 15px;
    line-height: 100%;
  }
}

.layer-list-ref {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #02234d;
  font-family: "Bricolage Grotesque", sans-serif;
}

.section-two {
  background: #fff;
  padding-top: 40px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-bitcoin-image {
    display: grid;
    grid-template-columns: 290px;
    justify-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .group-bitcoin-image {
    display: grid;
    grid-template-columns: 450px;
    justify-items: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .section-two {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 290px;
    padding-bottom: 0;
    padding-top: 5px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section-two {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 450px;
    padding-bottom: 0;
    padding-top: 5px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-two {
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 738px;
    padding-bottom: 0px;
    padding-top: 0;
  }
}

.bitcoins-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #02234d;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 35px;
  margin-left: 18px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .bitcoins-title {
    font-size: 26px;
    line-height: 100%;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .bitcoins-title {
    font-size: 28px;
    line-height: 100%;
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bitcoins-title {
    font-size: 29px;
    line-height: 100%;
    margin-left: 0;
    text-align: center;
  }
}

.bitcoin-list {
  list-style: none;
  display: grid;
  grid-template-columns: 410px;
  row-gap: 25px;
  justify-content: center;
}

.bitcoin-line {
  width: 410px;
  border: 1px solid #D8D8D8;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .bitcoin-line {
    width: 140px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .bitcoin-line {
    width: 140px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bitcoin-line {
    width: 445px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .bitcoin-list {
    align-items: center;
    justify-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .bitcoin-list {
    align-items: center;
    justify-items: center;
  }
}

.bitcoin-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1a1a1a;
  width: 245px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .bitcoin-item-title {
    width: 140px;
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .bitcoin-item-title {
    width: 140px;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bitcoin-item-title {
    width: 250px;
    font-size: 15px;
  }
}

.bitcoin-item-phone {
  font-weight: 400;
  font-size: 13px;
  color: rgba(9, 9, 32, 0.7);
  width: 245px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .bitcoin-item-phone {
    width: 140px;
    font-size: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .bitcoin-item-phone {
    width: 140px;
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bitcoin-item-phone {
    width: 250px;
    font-size: 13px;
  }
}

.bitcoin-item-spanone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color:
    rgba(9, 9, 32, 0.7);
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .bitcoin-item-spanone {
    font-size: 11px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .bitcoin-item-spanone {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bitcoin-item-spanone {
    font-size: 13px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .group-spans-two {
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .group-spans-two {
    text-align: center;
  }
}

.bitcoin-item-spantwo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #b4b7c1;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .bitcoin-item-spantwo {
    font-size: 11px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .bitcoin-item-spantwo {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bitcoin-item-spantwo {
    font-size: 13px;
  }
}

.bitcoin-item {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 23px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .bitcoin-item {
    grid-template-columns: 140px;
    row-gap: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .bitcoin-item {
    grid-template-columns: 140px;
    row-gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bitcoin-item {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 60px;
    align-items: center;
  }
}

.footer {
  background: #000d1f;
  padding-top: 47px;
  padding-bottom: 65px;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding-bottom: 47px;
  }
}

.footer-logo-list {
  list-style: none;
  display: grid;
  grid-template-columns: 268px;
  row-gap: 95px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-logo-list {
    row-gap: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-logo-list {
    row-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo-list {
    row-gap: 15px;
  }
}

.footer-logo-ph {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  width: 200px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-logo-ph {
    font-size: 12px;
    text-align: center;
    width: 290px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-logo-ph {
    font-size: 13px;
    text-align: center;
    width: 290px;
  }
}

.footer-logo-ph:hover {
  color: #f2994a;
}

.footer-privacy-ph:hover {
  color: #f2994a;
}

.footer-terms-ph:hover {
  color: #f2994a;
}

.footer-discl-ph:hover {
  color: #f2994a;
}

.footer-privacy-ph {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 2px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-privacy-ph {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-privacy-ph {
    font-size: 13px;
    text-align: center;
  }
}

.footer-terms-ph {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 2px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-terms-ph {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-terms-ph {
    font-size: 13px;
    text-align: center;
  }
}

.footer-discl-ph {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-discl-ph {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-discl-ph {
    font-size: 13px;
    text-align: center;
  }
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 268px 270px 1px;
  column-gap: 205px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 290px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 450px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 20px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 150px 250px 1px;
    column-gap: 90px;
  }
}

.footer-adress-street {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  font-style: normal;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-adress-street {
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-adress-street {
    text-align: center;
    font-size: 13px;
  }
}

.footer-adress {
  display: grid;
  grid-template-columns: 267px;
  row-gap: 90px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-adress {
    row-gap: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-adress {
    row-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress {
    row-gap: 15px;
  }
}

.footer-adress-phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  font-style: normal;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-adress-phone {
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-adress-phone {
    text-align: center;
    font-size: 13px;
  }
}

.footer-adress-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  font-style: normal;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-adress-email {
    text-align: center;
    font-size: 12px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-adress-email {
    text-align: center;
    font-size: 13px;
  }
}

.footer-adress-street:hover {
  color: #f2994a;
}

.footer-adress-phone:hover {
  color: #f2994a;
}

.footer-adress-email:hover {
  color: #f2994a;
}

.footer-logo-span {
  font-weight: 400;
  font-size: 48px;
  line-height: 130%;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer-logo-span {
    font-size: 40px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-logo-span {
    font-size: 42px;
  }
}

.footer-logo-span:hover {
  color: #f2994a;
}

.footer-logo-group {
  display: grid;
  grid-template-columns: 1px 1fr;
  column-gap: 15px;
  align-self: flex-end;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo-group {
    align-self: center;
  }
}

.footer-adress-date {
  list-style: none;
}