html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

.header {
  background: #000d1f;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header-logo-group {
  display: grid;
  grid-template-columns: 1px 1fr;
  column-gap: 10px;
  align-items: flex-end;
}

.header-nav-ref {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  text-decoration: none;
  font-family: "Bricolage Grotesque", sans-serif;
}

.header-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 35px) 1fr;
  column-gap: 30px;
}

.header-group {
  background: #000d1f;
  display: grid;
  grid-template-columns: 82px 1fr;
  align-items: center;
  column-gap: 625px;
}

.header-nav-ref:hover {
  color: #f2994a;
}

.main {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #E0FFFF;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 670px 1fr;
  column-gap: 30px;
}

.main-nav-list {
  list-style: none;
  display: grid;
  grid-template-columns: 126px 57px 1fr;
  column-gap: 3px;
  margin-bottom: 34px;
  margin-left: 30px;
}

.main-nav-ref {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #a7b2c0;
  text-decoration: none;
  font-family: "Bricolage Grotesque", sans-serif;
}

.main-nav-ref:hover {
  color: #02234d;
}

.main-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #02234d;
  font-family: "Bricolage Grotesque", sans-serif;
  width: 610px;
  margin-bottom: 23px;
  margin-left: 30px;
}

.section-one {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
}

.main-time-ph {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #50739f;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 17px;
  margin-left: 30px;
}

.main-autor-ph {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #02234d;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 23px;
  margin-left: 30px;
}

.main-bitcoin-image {
  margin-bottom: 28px;
}

.layer-list {
  list-style: none;
  display: grid;
  grid-template-columns: 610px;
  row-gap: 30px;
  justify-content: center;
}

.layer-list-ph {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #02234d;
  width: 610px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.layer-list-ref {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #02234d;
  font-family: "Bricolage Grotesque", sans-serif;
}

.section-two {
  background: #fff;
  padding-top: 40px;
}

.bitcoins-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #02234d;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 35px;
  margin-left: 18px;
}

.bitcoin-list {
  list-style: none;
  display: grid;
  grid-template-columns: 410px;
  row-gap: 25px;
  justify-content: center;
}

.bitcoin-line {
  width: 410px;
  border: 1px solid #D8D8D8;
}

.bitcoin-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #1a1a1a;
  width: 245px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.bitcoin-item-phone {
  font-weight: 400;
  font-size: 13px;
  color: rgba(9, 9, 32, 0.7);
  width: 245px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}

.bitcoin-item-spanone {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color:
    rgba(9, 9, 32, 0.7);

}

.bitcoin-item-spantwo {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #b4b7c1;
}

.bitcoin-item {
  display: grid;
  grid-template-columns: 140px 1fr;
  column-gap: 23px;
  align-items: center;
}

.footer {
  background: #000d1f;
  padding-top: 47px;
  padding-bottom: 65px;
}

.footer-logo-list {
  list-style: none;
  display: grid;
  grid-template-columns: 268px;
  row-gap: 95px;
}

.footer-logo-ph {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  width: 200px;
}

.footer-logo-ph:hover {
  color: #f2994a;
}

.footer-privacy-ph:hover {
  color: #f2994a;
}

.footer-terms-ph:hover {
  color: #f2994a;
}

.footer-discl-ph:hover {
  color: #f2994a;
}

.footer-privacy-ph {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 2px;
}

.footer-terms-ph {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  margin-bottom: 2px;
}

.footer-discl-ph {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
}