html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

.header {
  background: #000d1f;
  padding-top: 22px;
  padding-bottom: 22px;
}

.header-logo-group {
  display: grid;
  grid-template-columns: 1px 1fr;
  column-gap: 10px;
  align-items: flex-end;
}